.Entry {
  margin-bottom: 20px;
  display: flex;
}

.Entry-metadata {
  width: 50%;
}

.Entry-metadata p {
  margin: 5px 0;
}

.Entry-metadata a {
  color: var(--color-primary-red);
  text-decoration: none;
}

.Entry-metadata small {
  font-style: italic;
}

.Entry-content h1 {
  margin-bottom: 10px;
  color: var(--color-primary-red);
  font-weight: bold;
  font-size: 1.5em;
}

.Entry-content p {
  margin: 10px 0 30px;
}

.Entry-content a {
  color: var(--color-primary-red);
  text-decoration: none;
}