* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #f5f5f5;
  padding: 20px;
}

.Header-container {
  margin-bottom: 30px;
}

.Header-title h1 {
  font-size: 3em;
}

.Header-title h2 {
  font-size: 1.2em;
}

.Navbar {
  width: 100%;
  margin-top: 10px;
}

.Navbar ul {
  list-style: none;
  display: flex;
  background-color: #d6d6d6 ;
  border-radius: 10px;
  color: #c84451;
  font-weight: bold;
}

.Active {
  background-color: #c84451;
  color: #ffffff;
  border-radius: 10px 0 0 10px;
}

.Navbar li {
  width: 20%;
  padding: 20px 40px;
  text-align: center;
}

.Main {
  margin-bottom: 20px;
}

.FeaturedEntry {
  display: flex;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.FeaturedEntry h2 {
  color: #8c8384;
}

.FeaturedEntry h1 {
  margin: 5px 0;
  color: #c84451;
}

.FeaturedEntry img {
  width: 600px;
  padding: 5px;
  border: 1px solid #d6d6d6;
}

.Entries {
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
}

.Entries hr {
  margin-bottom: 20px;
}

.Entry {
  margin-bottom: 20px;
  display: flex;
}

.Entry-metadata {
  width: 50%;
}

.Entry-metadata p {
  margin: 5px 0;
}

.Entry-metadata a {
  color: #c84451;
  text-decoration: none;
}

.Entry-metadata small {
  font-style: italic;
}

.Entry-content h1 {
  margin-bottom: 10px;
  color: #c84451;
}

.Entry-content p {
  margin: 10px 0 30px;
}

.Entry-content a {
  color: #c84451;
  text-decoration: none;
}

.Content {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.Content img {
  width: 40%;
  margin-right: 20px;
}

.Footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.SocialNetwork ul {
  display: flex;
  list-style: none;
  color: #fff;
}

.SocialNetwork li {
  font-size: 20px;
  text-align: center;
  margin-right: 15px;
}

.SocialNetwork i {
  width: 20px;
  padding: 5px;
  border-radius: 50px;
}

.SocialNetwork .fa-twitter {
  background-color: #3ba7dc;
}

.SocialNetwork .fa-facebook {
  background-color: #1f59a0;
}

.SocialNetwork .fa-whatsapp {
  background-color: #66bc1a;
}

.SocialNetwork .fa-youtube {
  background-color: #eb402f;
}